.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 40px auto;
}

.footer-privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

@media (min-width: 1440px) {
  .divider {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
