@font-face {
  font-family: Imported;
  src: url(./font/SoDo\ Sans\ SemiBold.ttf);
}

body {
  margin: 0;
  background-color: "#FFF";
  color: "rgba(0, 0, 0, 0.87)";
  font-family: Imported;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: calt;
}
